// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~select2/dist/css/select2";
@import "~select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme";
@import "~datatables.net-bs5/css/dataTables.bootstrap5";

.bg-0 {
    color: $white;
    background-color: $cyan-600;
}
.bg-1 {
    color: $white;
    background-color: $blue-300;
}
.bg-2 {
    color: $white;
    background-color: $blue-600;
}
.bg-3 {
    color: $white;
    background-color: $purple-300;
}
.bg-4 {
    color: $white;
    background-color: $purple-600;
}
.bg-5 {
    color: $white;
    background-color: $pink-300;
}
.bg-6 {
    color: $white;
    background-color: $pink-600;
}


.bg-housing-status-0 {
    color: $white;
    background-color: $pink-500;
}
.bg-housing-status-1 {
    color: $white;
    background-color: $orange-500;
}
.bg-housing-status-2 {
    color: $white;
    background-color: $cyan-500;
}
.bg-housing-status-3 {
    color: $white;
    background-color: $teal-500;
}
.bg-housing-status-4 {
    color: $white;
    background-color: $yellow-500;
}
