<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" media="screen" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            $(document).ready(function() {
                $('select').select2();
            });
        </script>
    {% endblock %}
</head>
<body>
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        {% block navigation %}{% endblock %}
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <h1 class="text-center">
            Friedländer Unterkunfts- und Unterstützungsverwaltung
        </h1>
    </div>
</header>
<main class="mb-5">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
<footer class="py-3 my-4 border-top">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="https://www.friedland-mecklenburg.de/impressum" target="_blank">Impressum</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="https://www.friedland-mecklenburg.de/datenschutz1" target="_blank">Datenschutz</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="https://github.com/jogger-joe/disposer" target="_blank">Quellcode</a></li>
    </ul>
    <p class="text-center text-muted">Entwickelt mit <i class="bi bi-balloon-heart"></i> in Friedland (Mecklenburg)</p>
</footer>
</body>
</html>
