<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Dashboard</a></li>
            <li class="nav-item"><a href="/housing" class="nav-link link-dark px-2">Unterkünfte</a></li>
            <li class="nav-item"><a href="/furniture" class="nav-link link-dark px-2">Einrichtungsgegenstände</a></li>
            <li class="nav-item"><a href="/supporter" class="nav-link link-dark px-2">Helfer</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Über</a></li>
            <li class="nav-item"><a href="mailto:ich2211@gmail.com" class="nav-link link-dark px-2">Kontakt/Verbesserungsvorschläge</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
<footer></footer>
</body>
</html>
