{% extends 'base-public.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light"><i class="bi bi-balloon-heart-fill"></i> Danke f체r deine Registrierung <i class="bi bi-balloon-heart-fill"></i></h1>
                <p class="lead text-muted">Sobald wir passende T채tigkeiten f체r dich haben, werden wir uns mit dir in Verbindung setzen!</p>
                <div class="btn-group">
                    <a href="{{ path('app_public_index') }}" class="btn btn-outline-secondary">zur체ck zur Startseite</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
