{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="mx-auto">
                <h1 class="fw-light">undefinierter Fehler</h1>
                <p class="fw-light">Bitte wende dich an den Betreiber dieser Seite.</p>
            </div>
        </div>
    </section>
{% endblock %}
