{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Seite nicht gefunden!</h1>
            </div>
        </div>
    </section>
{% endblock %}
